
.booklist-title{
    font-size: 23px;
    font-weight: bold;
}

.booklist-card-holder{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: calc(9 * 153px);
}