.navigationbar-title{
    font-weight: bold;
    font-size: 32px;
    color: darkgreen;
    font-style: italic;
    font-family: Arial;
    display: inline-block;
}

.navigationbar-container{
    background-color: #f1dbf1;
    margin: -15px 0px 0px -15px;
    padding: 15px 15px 15px 15px;
}

.navigationbar-topcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigationbar-botcontainer{

}

.navigationbar-log-buttons-container{
    display: inline-block;
}